<div class="row">
  <div class="col-md-12">
    <div class="col-lg-4 col-xlg-3 col-md-5">
      <div class="card">
        <div class="card-body text-center justify-content-md-center" >
           <img src="/api/user/pic?id={{user.ImageLink}}" class="rounded-circle" width="150">
            <h4 class="card-title m-t-10">{{user.Firstname}}  {{user.LastName}}</h4>
            <h6 class="card-subtitle">subtitle</h6>
            <div class="row text-center justify-content-md-center">
               <a routerLink="/profile/editprofile"> <button class="btn btn-primary"> ویرایش پروفایل</button></a>
            </div>

        </div>
        <div>
          <hr> </div>
        <div class="card-body">
          <small class="text-muted">ایمیل: </small>
          <h6>{{user.Email}}</h6>
          <small class="text-muted p-t-30 db">نام کاربری:</small>
          <h6>{{user.UserName}}</h6>
          <small class="text-muted p-t-30 db">نام تلفن:</small>
          <h6>{{user.PhoneNumber}}</h6>
          <div class="map-box">

          </div>
        </div>
    <hr>

  </div>

    </div>
  </div>
</div>









