<div class="row">
  <div class="col-12">
    <div class="card">

      <div class="card-header">

        <div class="d-flex no-block align-items-center">
          <h4 class="card-title">افزودن نقش</h4>

        </div>

      </div>
      <div class="card-body">

        <div class="row">

          <div class="col-lg-10">
            <ng-select [items]="Roles|async"
                       bindLabel="Name"
                       bindValue="Id" id="Role" #newRole ></ng-select>
          </div>
          <div class="col-lg-2">
            <button [disabled]="!newRole.hasValue" (click)="addUserToRole(newRole.selectedValues)" class="btn btn-default">افزودن نقش</button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
